export(
    as.ts_table,
    file_info,
    read_ts_tables,
    ts_table,
    ttime,
    write_ts_table
       )

importFrom("datetimeutils",
           "is_businessday",
           "previous_businessday")

importFrom("fastmatch",
           "fmatch")

importFrom("utils",
           "read.table", "write.table")

importFrom("zoo",
           "zoo", "coredata", "index", "as.zoo")

S3method(as.ts_table, ts_table)
S3method(as.ts_table, zoo)

S3method(as.data.frame, ts_table)
S3method(as.matrix, ts_table)
S3method(as.zoo, ts_table)

S3method(print, file_info)
S3method(print, ts_table)
