export(
    read_ts_tables,
    write_ts_table,
    ts_table,
    as.ts_table
       )

importFrom("DBI",
           "dbConnect",
           "dbDisconnect",
           "dbGetQuery",
           "dbQuoteIdentifier",
           "dbWriteTable"
           )

importFrom("datetimeutils",
           "is_businessday",
           "previous_businessday")

importFrom("fastmatch",
           "fmatch")

importFrom("utils",
           "read.table", "write.table")

importFrom("zoo",
           "zoo", "coredata", "index", "as.zoo")

S3method(print, ts_table)
S3method(as.ts_table, zoo)
S3method(as.zoo, ts_table)
